<div class="bg-blue-100 py-2">
    <div class="container mx-auto px-4">
        <!-- Hidden on large screens -->
        <div class="lg:hidden">
           
        </div>

        <!-- Flex container for alignment -->
        <div class="flex justify-between items-center">

            <!-- Flex container for logo and hidden elements -->
            <div class="flex items-center">
                <a class="bdjobs_logo" href="https://recruiter.bdjobs.com">
                    <img src="https://Corporate3.bdjobs.com/images/bdjobs-recruiter-logo.svg" class="w-[256px] h-auto mr-2">
                </a>

                
            </div>

            <!-- Service buttons -->
            <div class="flex space-x-4">
                <a class="btn btn-outline-primary bg-transparent text-blue-600 border border-blue-900 py-2 px-4 rounded-md mb-2" href="/default.asp?from=servicePage">Sign in</a>
                <a class="btn btn-primary bg-blue-900 text-white py-2 px-4 rounded-md mb-2" href="/services.asp?from=recruiter">Service Packages</a>
            </div>
        </div>
    </div>
</div>
<h3 class="page-title text-2xl font-bold mt-6 text-center">Employer Registration Form</h3>

