<section class="p-4 bg-white rounded shadow-md">
  <section class="my-6">
    <!-- Section Title -->
    <h3 class="text-[#337ab7] mt-0 mb-7 text-xl font-semibold">Account Information</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <!-- Username -->
      <app-input-field
        label="Username"
        name="txtUserName"
        id="txtUserName"
        placeholder="Type Username"
       
      ></app-input-field>
  
      <!-- Password -->
      <app-input-field
        label="Password"
        type="password"
        name="txtPassword"
        id="txtPassword"
        placeholder="Use maximum 8 characters"
 
      ></app-input-field>
  
      <!-- Confirm Password -->
      <app-input-field
        label="Confirm Password"
        type="password"
        name="txtConfirmPassword"
        id="txtConfirmPassword"
        placeholder="Retype password"
      
      ></app-input-field>
    </div>
  </section>
  